@font-face{
  font-family:alegreya;src:url('alegreya.ttf');
}

body{
  margin: auto;
  height: 100vh;
  background: linear-gradient( to bottom, #71C387 90%, #e8c872 50%);
  /*background: #71C387;*/
  background-attachment: fixed;

}

@page {
    size: auto;   /* auto is the initial value */
    margin: 0;  /* this affects the margin in the printer settings */
}

.container-content{
  opacity:0;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;

}

.print{
  color:#de0000;
  text-decoration: none;
  font-family: alegreya;
}

.container{
  max-width:800px;
  background:white;
  margin:auto;
  margin-top: 40px;
  margin-bottom:40px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  border-radius: 10px;
}

header{
  padding: 3rem 4rem;
  text-align: center;
  font-family: alegreya;
}

.me_picture{
  width: 150px;
  height: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
  /*background: url(me.jpg) no-repeat;*/
  background-position: center !important;
  background-size: 160% !important;
  margin: auto;
  margin-bottom:20px;
}

.my_name{
  font-size: 3rem;
}

.way_contact{
  font-family: alegreya;
  text-align: center;
  width:82%;
  font-size:1.4rem;
  margin:auto;
}

.small_header{
  font-family: alegreya;
  font-weight: bold;
}

.portfolio, .education, .skills, .referanser{
  text-align: center;
  border-top: 1px solid lightgrey;
    font-size: 1.5rem;
    margin: auto;
    margin-top: 25px;
    padding-top: 25px;
    max-width: 600px;
    font-family: alegreya;
}

.referanser {
  padding-bottom: 20px;
}

.portfolio div, .education div, .skills div, .referanser div{
  font-size: 1rem;
  line-height: 1.4rem;
  text-align: left;
  width: 85%;
  margin: auto;
}

.education div, .referanser div{
  text-align: center;
}

.portfolio a{
  color:#de0000;
  text-decoration: none;
}

.fa{
  font-size: 13px !important;
  color:grey;
}

.mini_header{
  margin-top: 10px;
  font-weight: bold;
  margin-bottom:0px;
}

.mini_header_title{
  margin-top:-18px;
}

.mini_header_date{
  margin-top:0px;
}

.mini_header_grade{
  margin-top:-15px;
}

.done_divider{
  width:40px;
  border:none;
  border-top:1px solid lightgrey;
}

.intro{

  margin-top:5px;
}

.contact_top{
  padding-bottom:20px;
}

.contact_bottom{
  padding-bottom:40px;
  border-bottom:1px solid grey;
}

.padding10{
  padding:0 10px;
}

.mail{
  text-decoration: none;
  color:#de0000;
}

.phone{
}

.homepage{
  color:#de0000;
  text-decoration: none;
}

ul{
  padding:0 0 0 20px;
}

@media only screen and (max-width: 736px) and (max-width:600px), only screen and (max-device-width: 736px){
  .container{
    max-width:100%;
    margin-top: 0px;
  }

  .portfolio, .education, .skills, .referanser{
    max-width:initial;
    font-size:3rem;
  }

  .portfolio div, .education div, .skills div, .referanser div{
    font-size:1rem;
    line-height:initial;
  }

  .fa{
    padding-right:20px;
  }
}


@media print
{
  body{
    background:white;
  }
  .print{
    display: none;
  }

  .me_picture{
    width:100px;
    height:100px;
    margin-bottom: 0px;
  }

  .done_divider {
    margin: 4px auto;
  }

  .container{
    box-shadow: none;
    border-radius: 0;
    margin-top:0;
  }

  .education_flex {
    display: flex;
    flex-wrap: wrap;
  }

  .education div {
    width: 50%;
  }

  .education {
    max-width: 100%;
  }

  a{
    color:black !important;
  }

  header {
    padding: 1rem;
  }

  .gurutjenestensommer {
    padding-top: 20px;
    padding-bottom: 5px;
  }

  .my_name {
    font-size: 2rem;
  }

  .way_contact {
    font-size: 1rem;
  }

  .portfolio-div {
        page-break-inside: avoid;
  }

  .languages {
    padding-top: 40px;
  }
}

.referanser_flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.referanser_flex div {
  width: 50%;
}
