body {
  margin: auto;
  height: 100vh;
  background: linear-gradient(to bottom, #71c387 90%, #e8c872 50%);
  /*background: #71C387;*/
  background-attachment: fixed;
}

@page {
  size: auto; /* auto is the initial value */
  margin: 0; /* this affects the margin in the printer settings */
}

.container-content {
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
  position: relative;
}

#language-setting {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  font-family: "Roboto", sans-serif;
}

.json-language {
  left: 0;
}

.print {
  color: #de0000;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 800px;
  background: white;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}

.me_picture.print-picture {
  display: none;
}

header {
  padding: 3rem 4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

.me_picture {
  width: 150px;
  height: 150px;
  object-fit: cover;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
  /*background: url(me.jpg) no-repeat;*/
  background-position: center !important;
  background-size: 120% !important;
  margin: auto;
  margin-bottom: 20px;
}

.my_name {
  font-size: 1.5rem;
}

.way_contact {
  font-family: "Roboto", sans-serif;
  text-align: center;
  width: 82%;
  font-size: 1.2rem;
  margin: auto;
}

.small_header {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.projects,
.portfolio,
.education,
.skills,
.referanser,
.courses_and_certifications {
  text-align: center;
  border-top: 1px solid lightgrey;
  font-size: 1.2rem;
  margin: auto;
  margin-top: 25px;
  padding-top: 25px;
  max-width: 600px;
  font-family: "Roboto", sans-serif;
}

.referanser {
  padding-bottom: 20px;
}

.projects div,
.portfolio div,
.education div,
.skills div,
.referanser div,
.courses_and_certifications div {
  font-size: 1rem;
  line-height: 1.4rem;
  text-align: left;
  width: 95%;
  font-weight: 300;
  margin: auto;
}

.education div,
.referanser div {
  text-align: center;
}

.projects a,
.portfolio a {
  color: #de0000;
  text-decoration: none;
}

.fa {
  font-size: 13px !important;
  color: grey;
}

.mini_header {
  margin-top: 10px;
  font-weight: 400;
  margin-bottom: 0px;
}

.mini_header_title {
  margin-top: -18px;
}

.mini_header_date {
  margin-top: 0px;
}

.mini_header_where {
  margin-top: 0px;
  margin-bottom: 0px;
}

.mini_header_grade {
  margin-top: -15px;
}

.done_divider {
  width: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
  border-top: 1px solid lightgrey;
}

.education_flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.courses_and_certifications ul {
  padding: 0 3rem;
}

.education_flex div {
  width: 50%;
}

.intro {
  margin-top: 5px;
}

.contact_top {
  padding-bottom: 20px;
}

.contact_bottom {
  padding-bottom: 40px;
  border-bottom: 1px solid grey;
}

.padding10 {
  padding: 0 10px;
}

.mail {
  text-decoration: none;
  color: #de0000;
}

.phone {
}

.homepage {
  color: #de0000;
  text-decoration: none;
}

ul {
  padding: 0 0 0 20px;
}

.referanser_flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.referanser_flex div {
  width: 50%;
}

@media only screen and (max-width: 736px) and (max-width: 600px),
  only screen and (max-device-width: 736px) {
  .container {
    max-width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .projects,
  .portfolio,
  .education,
  .skills,
  .referanser,
  .courses_and_certifications {
    max-width: initial;
    font-size: 3rem;
  }

  .projects div,
  .portfolio div,
  .education div,
  .skills div,
  .courses_and_certifications div {
    font-size: 1rem;
    line-height: initial;
  }

  .referanser div {
    font-size: 2rem;
  }

  .education_flex {
    flex-direction: column;
  }

  .education div {
    width: 100% !important;
  }

  .fa {
    padding-right: 20px;
  }

  .referanser_flex div {
    width: 100%;
  }

  .my_name {
    font-size: 3rem;
  }
}
@media print {
  body {
    background: white;
  }
  .print {
    display: none;
  }

  @page {
    size: auto;
    margin: 5mm;
  }

  #language-setting {
    display: none;
  }

  .flex-container-for-print {
    margin-top: 30px;
    padding-bottom: 30px;
  }

  .projects .small_header {
    margin-top: 10px;
    padding-bottom: 35px;
  }

  .projects,
  .portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*align-items: center;
    justify-content: center;*/
  }

  .done_divider {
    display: none;
  }

  .me_picture.desktop-picture {
    display: none;
  }

  .me_picture.print-picture {
    display: block;
    margin: 0 20px;
  }

  .projects div,
  .portfolio div,
  .education div,
  .skills div,
  .referanser div,
  .courses_and_certifications div {
    font-size: 0.75rem;
    margin: initial;
  }

  .projects .small_header,
  .portfolio .small_header {
    width: 100%;
  }

  .projects div,
  .portfolio div {
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    /* align-self: center; */
    /* justify-self: center; */
    /* margin: auto; */
  }

  .education div {
    max-width: 600px;
    margin: auto;
  }

  .intro {
    display: none;
  }

  .projects .intro {
    display: block;
  }

  .me_picture {
    width: 100px;
    height: 100px;
    margin-bottom: 0px;
  }

  .done_divider {
    margin: 4px auto;
  }

  .container {
    box-shadow: none;
    border-radius: 0;
    margin-top: 0;
  }

  .education_flex {
    display: flex;
    flex-wrap: wrap;
  }

  .education div,
  .referanser div {
    text-align: left;
  }

  .education div {
    /*width: 50%;*/
  }

  .countdown {
    display: none;
  }

  .education {
    max-width: 75%;
  }

  a {
    color: black !important;
  }

  header {
    padding: 1rem;
  }

  .gurutjenestensommer {
    padding-top: 20px;
    padding-bottom: 5px;
  }

  .my_name {
    font-size: 2rem;
  }

  .way_contact {
    font-size: 1rem;
    width: 100%;
  }

  .flex-container-for-print {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .skills,
  .projects-div,
  .portfolio-div,
  .education,
  .portfolio,
  .courses_and_certifications,
  .referanser {
    page-break-inside: avoid;
  }

  .projects {
    display: block;
  }

  .projects-div {
    display: inline-block;
    margin: 0 !important;
    /* margin-left: 0 !important; */
    vertical-align: top;
    width: 48% !important;
    /* padding: 30% 0 30% 0 !important; */
    /* margin: -30% -2px !important; */
  }

  .portfolio,
  .education,
  .skills,
  .referanser,
  .courses_and_certifications {
    margin-top: 5px;
  }

  .languages {
    padding-top: 40px;
  }

  .projects div,
  .portfolio div,
  .education div,
  .skills div,
  .referanser div,
  .courses_and_certifications div {
    line-height: 1.2rem;
  }

  p.name {
    margin: 0;
    padding: 0;
  }

  .mini_header {
    line-height: 0.75rem;
  }

  .small_header {
    margin-top: -10px;
    margin-bottom: 15px;
    display: block;
  }
}
